{% extends 'trainingnote/base.html' %}

{% block content %}
    <div class="card mb-3">
        <h2 class="card-header bg-dark text-white">{{ trainingnote.title }}</h2>
        <div class="card-body">
            <p>{{ trainingnote.created_at }}</p>
            {{ trainingnote.text | linebreaksbr }}
        </div>
    </div>
    <h4><strong>コメント一覧</strong></h4>
    {% for comment in trainingnote.comment_set.all %}
        <div class="card mb-2">
            <div class="card-body">
                <h5 class="card-title">投稿者: {{ comment.name }}</h5>
                <h8 class="card-subtitle mb-2 text-muted">{{ comment.created_at }}</h8>
                <p class="card-text">
                    {{ comment.text | linebreaksbr }}
                </p>
            </div>
        </div>
    {% endfor %}
    {% if user.is_authenticated %}
        <a class="btn btn-dark" href="{% url 'trainingnote:comment' trainingnote.pk %}">コメント投稿ページへ</a>
    {% else%}
        <a class="btn btn-primary" href="{% url 'admin:index' %}"><strong>コメントにはログインが必要です。</strong></a>
    {% endif %}
{% endblock %}