{% extends 'homepage/base.html' %}

{% block content %}
    {% for message in message_list %}
        <div class="card mb-3">
            <div class="card-body">
                <h2 class="card-header bg-dark text-white">{{ message.text }}</h2>
                <h8 class="card-subtitle mb-2 text-muted">{{ message.created_at }}</h8>
                <div class="card-body">
                    <p class="card-text">
                    {{ message.news | linebreaksbr}}<br>
                </p>
                </div>
            </div>
        </div>
    {% endfor %}
    {% include 'homepage/page.html' %}

{% endblock %}

