{% extends 'homepage/base.html' %}

{% block content %}
    {% for trainingnote in trainingnote_list %}
        <div class="card mb-3">
            <h2 class="card-header bg-dark text-white">{{ trainingnote.title }}</h2>
            <div class="card-body">
                <p>{{ trainingnote.created_at }}, {{ trainingnote.category }}</p>
                <a href="{% url 'homepage:detail' trainingnote.pk %}">続きを読む</a>
            </div>
        </div>
    {% endfor %}

    {% include 'homepage/page.html' %}

{% endblock %}